alembic==1.7.4
bcrypt==3.2.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.6
click==8.0.1
cryptography==35.0.0
Deprecated==1.2.13
ecdsa==0.17.0
Flask==2.0.2
Flask-Migrate==3.1.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.2
jwcrypto==1.0
Mako==1.1.5
MarkupSafe==2.0.1
passlib==1.7.4
pyasn1==0.4.8
pycparser==2.20
pydantic==1.8.2
python-jose==3.3.0
python-jwt==3.3.0
requests==2.26.0
rsa==4.7.2
six==1.16.0
soupsieve==2.2.1
SQLAlchemy==1.4.25
typing-extensions==3.10.0.2
urllib3==1.26.7
Werkzeug==2.0.2
wrapt==1.13.1
Flask-Cors==3.0.10
schedule==1.1.0
requests==2.26.0
requests-toolbelt==0.8.0
requests-unixsocket==0.2.0
pandas==1.3.3
openpyxl==3.0.9